<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="testAction.DefinitionList">Execution Plan List</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: TABLE WITH FILTERS -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div ng-controller="testActionDefinitionCtrl">
                        <table ng-table="testActionDefinitionTable" show-filter="true" class="table table-striped">
                            <tr ng-repeat="testActionDefinition in $data">
                                <td class="col-md-1" data-title="'ID'" filter="{ 'id': 'text' }" sortable="'id'"> {{testActionDefinition.id}} </td>
                                <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">{{testActionDefinition.name}}</td>
                                <td data-title="'Handler'" filter="{ 'handler': 'text' }" sortable="'handler'"> {{testActionDefinition.handler}}</td>
                                <td data-title="'Remark'" filter="{ 'remark': 'text' }" sortable="'remark'">{{testActionDefinition.remark}}</td>
                                <td data-title="'Last Update'" sortable="'lastUpdate'">{{testActionDefinition.lastUpdate}}</td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: TABLE WITH FILTERS -->
